@font-face {
  font-family: "Noto Serif CJK SC";
  src: url("./NotoSerifSC-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Noto Serif CJK SC";
  src: url("./NotoSerifSC-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Serif CJK SC";
  src: url("./NotoSerifSC-Bold.ttf");
  font-weight: light;
}
